.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    
}
.title{
    text-align: center;
    color: #005883;
}

.menu{
    padding: 20px;
    background-color: #F0B429;
    width: 100%;
}

.tabla{
    width: 80%;
    margin: 40px;
}