.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    
}
.title{
    text-align: center;
    color: #005883;
}

.titledos{
    text-align: left;
    color: #005883;
}

.menu{
    padding: 20px;
    font-size: 11px;
    text-decoration: none;
    background-color: #005883;
    color: FFFFFF;
}

.tabla{
    width: 80%;
    margin: 40px;
}
.menu2{
    padding: 20px;
    font-size: 11px;
    text-decoration: none;
    background-color: #B3B3B3;
    color: FFFFFF;
}